body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

iframe {
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px
}
